<h1>Registrar usuario</h1>
<form action="/user/register" method="post">
    first_name: <input type="text" name="first_name"><br>
    last_name:<input type="text" name="last_name"><br>
    email:<input type="text" name="email"><br>
    gender:<input type="text" name="gender"><br>
    password:<input type="text" name="password"><br>
    <input type="submit" value="crear">
</form>

<h2>SIGNUP WITH GITHUB</h2>
<button onclick="location.href='/user/githubregister'">GITHUB</button>

<h2>SIGNUP WITH GOOGLE</h2>
<button onclick="location.href='/user/googleSignup'">GOOGLE</button>